.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: var(--light-gray);
    cursor: pointer;
    padding: 8px 0;
    margin-bottom: 10px;
}

.checkbox {
    border: 2px solid var(--light-gray);
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.checkbox:hover {
    cursor: pointer;
}

.container p {
    color: var(--light-gray);
}

.clicked {
    border: none;
    background-color: var(--light-green);
}

@media screen and (max-width: 375px) {
    .container p {
        font-size: 1rem;
    }
}