@font-face {
    font-family: 'HankenGrotesk';
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

html,
body {
    font-family: 'HankenGrotesk';
    padding: 0;
    margin: 0;
    height: 100%;
}

/* * {
    border: 1px solid red;
} */


ul {
    list-style: none;
}

li {
    display: flex;
    flex-direction: row;
}

header {
    text-align: center;
    padding: 35px;

    border-radius: 10%;
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    background-color: #7857FF;
    height: auto;
    margin-top: -35px;
}

.header__title {
    font-weight: 500;
    font-size: large;
    color: var(--light-lavender);
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
}

.circle__volume {
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--white);
}

.circle__max {
    font-weight: 700;
    font-size: 1rem;
    color: hsl(241, 100%, 82%);
}

.header__heading {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--white);
    margin-bottom: 15px;
}

.header__description {
    font-weight: 500;
    font-size: 1rem;
    color: var(--light-lavender);
}

main {
    padding: 0 35px;
}

.main_summary {
    font-weight: 800;
    color: var(--dark-gray-blue);
    font-size: 1.1rem;
}

.li__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}

.li__item img {
    margin-right: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 20px auto;
    border-radius: 10px;
}

.li__value {
    color: var(--dark-gray-blue);
    font-weight: 800;
}

span {
    color: hsl(224, 30%, 70%);
    font-weight: 700;
}

.item__one {
    background-color: hsl(0, 100%, 98%);
    color: var(--light-red);
}

.item__two {
    background-color: hsl(39, 100%, 98%);
    color: var(--orange-yellow);
}

.item__three {
    background-color: hsl(166, 100%, 98%);
    color: var(--green-teal);
}

.item__four {
    background-color: hsl(234, 85%, 98%);
    color: var(--cobalt-blue);
}

button {
    width: 100%;
    padding: 18px 32px;
    color: var(--white);
    border-radius: 45px;
    margin: 20px auto;
    background-color: var(--dark-gray-blue);
    font-size: large;
    font-weight: 500;
    border: none;
}

button:hover {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-self: center;
        max-width: 90%;
        width: 600px;

        border-radius: 25px;
        -webkit-box-shadow: 2px 0px 18px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 0px 18px -6px rgba(0,0,0,0.75);
        box-shadow: 2px 0px 18px -6px rgba(0,0,0,0.75);
        overflow: hidden;
    }

    main {
        width: 50%;
        height: 100%;
    }

    header {
        width: 50%;
        margin: 0;
        border-radius: 0 25px 25px 0;
    }
}